<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HackOverflow Registration Form</title>
        <link rel="stylesheet" href="./../static/css/main.css" type="text/css">
    </head>
    <body>
        {% if message %}
        <div class="error">
            <p>{{ message }}</p>
        </div>
        {% endif %} {% if phone_no %}
        <div class="error">
            <p>{{ phone_no }}</p>
        </div>
        {% endif %} {% if discord_id %}
        <div class="error">
            <p>{{ discord_id }}</p>
        </div>
        {% endif %}

        
        <form action="{{ url_for('data') }}" method="post">
            <h1 style="color: white">Let's Ace the Battle!</h1>
            
            <div class="form-control">
                <label for="TeamName"
                    ><span style="color: yellow">*</span>Team Name</label
                >
                <input
                    type="text"
                    id="TeamName"
                    placeholder="Enter Team Name"
                    name="TeamName"
                    value="spargle"
                    required
                />
            </div>

            <div class="form-control">
                <label for="NoOfMembers"
                    ><span style="color: yellow">*</span>Number Of
                    Members?</label
                >
                <select name="NoOfMembers" id="NoOfMembers">
                    <option value="0">Select one</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <!--lead member of team-->
            <!-- name -->
            <div class="memberContainer">
                <h3 style="text-align: center">
                    Team's 1st Member Details
                </h3>
            <div class="form-control">
                <label for="TeamLeadName"
                    ><span style="color: yellow">*</span>Name of Team
                    Lead</label
                >
                <input
                    type="text"
                    id="TeamLeadName"
                    placeholder="Enter Name Of The Team Lead"
                    name="TeamLeadName"
                    value="Vishal"
                    required
                />
            </div>
            <!-- email -->
            <div class="form-control">
                <label for="TeamLeadEmail"
                    ><span style="color: yellow">*</span>Email-id Of Team
                    Lead</label
                >
                <input
                    type="email"
                    id="TeamLeadEmail"
                    placeholder="Enter Email-id Of The Team Lead"
                    name="TeamLeadEmail"
                    value="vishal@vishal.com"
                    required
                />
            </div>
            <!-- phone -->
            <div class="form-control">
                <label for="TeamLeadPhoneNumber"
                    ><span style="color: yellow">*</span>Mobile Number Of
                    Team Lead</label
                >
                <input
                    type="number"
                    id="TeamLeadPhoneNumber"
                    placeholder="Enter Mobile Number Of The Team Lead"
                    name="TeamLeadPhoneNumber"
                    value="9999999999"
                    required
                />
            </div>
            <!-- transaction -->
            <div class="form-control">
                <label for="TransactionID1"
                    ><span style="color: yellow">*</span>Transaction ID Of Team Lead</label
                >
                <input
                    type="text"
                    id="TransactionID1"
                    placeholder="Enter Transaction-id Of Team Lead"
                    name="TranscationID1"
                    value="1234"
                    required
                />
            </div>
            </div>
            
            <!--1st member-->               
            <div class="memberContainer">
                <h3 style="text-align: center">
                    Team's 1st Member Details
                </h3>

                <div class="form-control">

                <!-- name -->
                <label for="2ndMemberName"
                    ><span style="color: yellow">*</span>Name of 1st Team
                    Member</label
                >
                <input
                    type="text"
                    id="2ndMemberName"
                    placeholder="Enter Name Of The 1st Team Member"
                    name="2ndMemberName"
                    value="Hemang"
                    required
                />
                </div>
                <!-- phone number -->
                <div class="form-control">
                <label for="2ndMemberPhoneNumber"
                    ><span style="color: yellow">*</span>Mobile Number of 1st Team
                    Member</label
                >
                <input
                    type="number"
                    id="2ndMemberPhoneNumber"
                    placeholder="Enter Mobile Number Of The 1st Team Member"
                    name="2ndMemberPhoneNumber"
                    value="9872637431"
                    required
                />
                </div>
                <!-- email -->
                <div class="form-control">
                <label for="2ndMemberEmail"
                    ><span style="color: yellow">*</span>Email-id Of Of The 1st Team Member</label
                >
                <input
                    type="email"
                    id="2ndMemberEmail"
                    placeholder="Enter Email-id Of The 1st Team Member"
                    name="2ndMemberEmail"
                    value="hemang@hemang.com"
                    required
                />
                </div>
                <!-- transaction -->
                    <div class="form-control">
                <label for="TransactionID2"
                    ><span style="color: yellow">*</span>Transaction ID Of The 1st Team Member</label
                >
                <input
                    type="text"
                    id="TransactionID2"
                    placeholder="Enter Transaction-id Of The 1st Team Member"
                    name="TransactionID2"
                    value="912319"
                    required
                />
                </div>
            </div>

            <!--2nd member-->
            <div class="memberContainer">
                <h3 style="text-align: center">
                    Team's 2nd Member Details
                </h3>

                <div class="form-control">

                <!-- name -->
                <label for="3rdMemberName"
                    ><span style="color: yellow">*</span>Name of 2nd Team
                    Member</label
                >
                <input
                    type="text"
                    id="3rdMemberName"
                    placeholder="Enter Name Of The 2nd Team Member"
                    name="3rdMemberName"
                    required
                />
                </div>
                <!-- phone number -->
                <div class="form-control">
                <label for="3rdMemberPhoneNumber"
                    ><span style="color: yellow">*</span>Mobile Number of 2nd Team
                    Member</label
                >
                <input
                    type="number"
                    id="3rdMemberPhoneNumber"
                    placeholder="Enter Mobile Number Of The 2nd Team Member"
                    name="3rdMemberPhoneNumber"
                    required
                />
                </div>
                <!-- email -->
                <div class="form-control">
                <label for="3rdMemberEmail"
                    ><span style="color: yellow">*</span>Email-id Of Of The 2nd Team Member</label
                >
                <input
                    type="email"
                    id="3rdMemberEmail"
                    placeholder="Enter Email-id Of The 2nd Team Member"
                    name="3rdMemberEmail"
                    required
                />
                </div>
                <!-- transaction -->
                    <div class="form-control">
                <label for="TransactionID3"
                    ><span style="color: yellow">*</span>Transaction ID Of The 2nd Team Member</label
                >
                <input
                    type="text"
                    id="TransactionID3"
                    placeholder="Enter Transaction-id Of The 2nd Team Member"
                    name="TransactionID3"
                    required
                />
                </div>
            </div>

            <!--3rd member-->
            <div class="memberContainer">
                <h3 style="text-align: center">
                    Team's 3rd Member Details
                </h3>

                <div class="form-control">

                <!-- name -->
                <label for="4thMemberName"
                    ><span style="color: yellow">*</span>Name of 3rd Team
                    Member</label
                >
                <input
                    type="text"
                    id="4thMemberName"
                    placeholder="Enter Name Of The 3rd Team Member"
                    name="4thMemberName"
                    required
                />
                </div>
                <!-- phone number -->
                <div class="form-control">
                <label for="4thMemberPhoneNumber"
                    ><span style="color: yellow">*</span>Phone Number of 3rd Team
                    Member</label
                >
                <input
                    type="number"
                    id="4thMemberPhoneNumber"
                    placeholder="Enter Phone Number Of The 3rd Team Member"
                    name="4thMemberPhoneNumber"
                    required
                />
                </div>



                <!-- email -->
                <div class="form-control">
                <label for="4thMemberEmail"
                    ><span style="color: yellow">*</span>Email-id Of Of The 3rd Team Member</label
                >
                <input
                    type="email"
                    id="4thMemberEmail"
                    placeholder="Enter Email-id Of The 3rd Team Member"
                    name="4thMemberEmail"
                    required
                />
                </div>
                <!-- transaction -->
                    <div class="form-control">
                <label for="TransactionID4"
                    ><span style="color: yellow">*</span>Transaction ID Of The 3rd Team Member</label
                >
                <input
                    type="text"
                    id="TransactionID4"
                    placeholder="Enter Transaction-id Of The 3rd Team Member"
                    name="TransactionID4"
                    required
                />
                </div>
            </div>

            <h4 style="text-align: left; color: white">
                <span>*</span> marked are not required fields.
            </h4>

            <!-- Submit button -->
            <div>
                <!-- Hello -->
                <input type="submit">Submit</button>
            </div>
        </form>
        <script src="./../static/js/forms.js"></script>
    </body> 
</html>
